<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.TurismoConnectionString"
            connectionString="Data Source=DESKTOP-ID07KQK\SQLEXPRESS;Initial Catalog=Turismo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>